<link rel="stylesheet" href="style.css">
<%- include("../partials/header")%>

<form action="/" method="post">
    <input type="text" name="book" placeholder="Book name">
    <input type="text" name="author" placeholder="Description">
    <input type="text" name="page" placeholder="page Count">
    <button type="submit">Add</button>
</form>