
<link rel="stylesheet" href="style.css">
<header>
    <div class="logo">MyBrary</div>
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Books</a></li>
        </ul>
    </nav>
</header>