<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Index</title>
</head>
<body>
    <%- include("./partials/header")%>

    <% book.forEach((book)=> { %>
        <div class="book">
            <h2 class="bookHeading">Book Name : <%= book.name %></h2>
            <p class="author">Author Name : <%= book.author %></p>
            <p class="author">Page Count : <%= book.pageCount %></p>
        </div>
    <% }) %>
</body>
</html>